*{
    background-color: rgb(75, 193, 197);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h1{
  text-align: center;
}

form{
  margin-left: 80px;
}

label{
  margin-left: 14px;
}


/* input[type=number] {
  -moz-appearance: textfield;
} */