* {
    background-color: aqua;
}

#heading {
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    margin: 10px 0px 0px 190px;
    font-size: 40px;
    border: 10px;
    border-style: double;
    border-color: black;
    position: fixed;
    top: 0;
    width: 60%;
}

form {
    margin-top: 150px;
}

label {
    margin-left: 190px;
    width: 140px;
    font-weight: bold;
    display: inline-block;
}

input {
    font-size: 14px;
    border: 1.4px solid black;
    background-color: white;
}

#files {
    border-style: none;
    background-color: aqua;
}



select {
    background-color: white;
}

button {
    background-color: white;
}

#submit {
    margin-left: 20px;
}